alias sudo='sudo ' # expand completion for sudo
alias vim='nvim' # neovim instead of vim
alias v='vim' # edit command
alias ls='lsd -h --group-dirs first' # lsd intedad of ls, readable, dirs first
alias dir='ls' #old school DOS
alias ll='ls -l'
alias la='ls -A'
alias l.='lsd -a | egrep "^\."'
alias cat='ccat' # colorized cat
alias mv='mv -iv' #  ask before move
alias rm='rm -iv' # ask before remove
alias cp='cp -iv' # ask before copy
alias clr='clear' # clear abreviation
alias df='dfc ' # colorized
alias du='du -ch' # readable size
alias wget='wget -c'
alias pping='prettyping'
alias mkdir='mkdir -pv'
alias less='highlight -O xterm256 $1 | less -R' # less colorized
alias diff='colordiff ' # diff colorized
alias ~="cd ~" # ~ home
alias home='cd ~' # ~ home
alias whoamic='figlet $(whoami) | lolcat' # colored ascii whoami
alias -- -='cd -' # - to go back to previous directory
alias ..='cd ../' # one folder up
alias cd..='cd ../' # one folder up
alias ...='cd ../../' # two folder up
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com' # public ip address
alias localip='ifconfig -l | xargs -n1 ipconfig getifaddr' # local ip address
alias mountReadWrite='/sbin/mount -uw /'    # mountReadWrite:   For use when booted into single-user
alias dotfiles='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'
alias cleanupDS="find . -type f -name '*.DS_Store' -ls -delete"
alias finderShowHidden='defaults write com.apple.finder ShowAllFiles TRUE'
alias finderHideHidden='defaults write com.apple.finder ShowAllFiles FALSE'
alias cleanupLS="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
