# Create a new directory and enter it
mkd() {
    mkdir -p "$@" && cd "$@"
}

# Print README file
readme() {
    for readme in {readme,README}.{md,MD,markdown,mkd,txt,TXT}; do
        if [[ -x "$(command -v glow)" ]] && [[ -f "$readme" ]]; then
            glow "$readme"
        elif [[ -f "$readme" ]]; then
            cat "$readme"
        fi
    done
}

# Weather
weather() {
    curl -s "https://wttr.in/Barcelona?M2F&format=v2"
}

tmdeletelocalsnapshots() {
    for d in $(tmutil listlocalsnapshotdates | grep "-"); do
        sudo tmutil deletelocalsnapshots $d
    done
}
