# search in history UP
# OSX
bindkey "^[[A" history-search-backward
# Ubuntu
bindkey "$key[Up]" history-search-backward

# search in history DOWN
# OSX
bindkey "^[[B" history-search-forward
# Ubuntu
bindkey "$key[Down]" history-search-backward

# go to begin
bindkey "^[[H" beginning-of-line
# go to end
bindkey "^[[F" end-of-line

# Enable searching through history
bindkey '^R' history-incremental-pattern-search-backward

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on
# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
